:root
{
    --blue-dark:#0a193f;
    --green-aqua:#00FFDD;
    --white:#fff;
    --white-yellow:#4D96FF;
    --white-grey:#EEEEEE;
    --red-bord:#180774;
}
@import url(‘https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap’);
html
{
    font-size: 62.5%; 
}
body
{
    font-family: 'Roboto mono', monospace;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.home__body
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

body p::selection,
body a::selection
{
    background-color: #4D77FF;
    color:#F2FA5A;
}
a
{
    text-decoration: none;
    display: inline;
    color: #000;
}
header
{
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows:1fr 1fr;   
}
header .header__icons__container
{
    width: 100%;
    height: 50px;
    display: grid;
    background-color:var(--blue-dark); 
    justify-items: end;
    box-shadow: 2px 2px 5px var(--blue-dark),
    3px 3px 6px var(--blue-dark);
    z-index:1;
}
header .header__icons__container .icons
{
    width: 300px;
    height: auto;
    display: flex;
    font-weight: bold;
    align-items: center;
    margin-right:50px ;
    justify-content: space-between;
}

.header__icons__container .icons span
{
    color: var(--white);
    font-weight: bold;   
}
nav
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
    background-color:rgba(9, 6, 175, 0.06);
    box-shadow: 1px 0px 1px #fff;
    z-index: 1;
}
nav .nav__logo__container
{ 
  display: flex;
  align-items: center;   
  margin-left: 70px;
}
nav .nav__logo__container img
{
    object-fit: contain;
    width: 120px;
}
nav .profile-link
{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 50px;
}
nav .profile-link a
{
    color: var(--white);
    font-weight: bold;
    border-bottom: 1px solid var(--white);
    font-size: 1.6rem;
}
.nav-background
{
    background:linear-gradient(360deg,var(--red-bord) 50%,var(--blue-dark) 50%);
    box-shadow: -2px -2px 5px var(--blue-dark),-3px -3px 6px var(--blue-dark);
}
.index__main
{
    margin-top: -85px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url('../assets/img/texture.png') center/100% 100% no-repeat;
}
main .main__container
{
    display:flex;
    flex-direction: column;
    margin-top: 10rem;
    align-items: center;
}

main .main__container .main__title__container p
{   
   color: var(--white);
   font-size: 7rem;
   line-height: 6rem;
   letter-spacing:.2rem;
   text-align: center;
   text-shadow: -2px 1px 2px var(--green-aqua),
   -2px 1px 3px #cfe93d,
   -2px 1px 4px #e2dde2;
 
}


main .main__container a
{
    background-color: rgba(45, 16, 150, 0.5);
    color:var(--green-aqua);
    border:none;
    padding: 1.5rem .5rem;
    letter-spacing:.5rem;
    text-align: center;
    font-family: 'Roboto mono', monospace;
    font-weight: 900;
    font-size: 1.6rem;
    width: 160px;
    margin-top: 6rem;
    text-shadow: -1px 1px 8px var(--green-aqua);
    box-shadow: -2px 1px 5px var(--green-aqua),
    -2px 1px 3px #cfe93d,
    -2px 1px 4px #e2dde2;
    ;
    cursor: pointer;
}
main .main__container a:hover
{
    color:var(--blue-dark);
    background-color: var(--green-aqua);
    font-size: 1.6rem;
    border: 1px solid var(--blue-dark);
    box-shadow: -2px 1px 2px var(--blue-dark),
    -2px 1px 3px #4e3de9,
    -2px 1px 4px #826aeb;
}
.blogs__main
{
    margin: 0;
    background: linear-gradient(180deg, #1A1A40 20%,#270082 30%,#312286 70%);
    color:var(--white);
}
.blogs__news__container
{  
    background:rgb(13, 5, 82);
    padding: 0px 50px 40px;
    box-shadow: 2px 2px 5px var(--blue-dark),3px 3px 6px var(--blue-dark);
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,600px));
    grid-gap:2rem;
    place-content:center;
}
.blogs__main__new h3
{
    font-size: 2.5rem;
}
.blogs__new__img__container
{
    margin: 0;
}
.blogs__new__img__container img
{
    object-fit: cover;
    width: 100%;
}
.blogs__news__info__container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blogs__news__info__container h2
{
    font-size: 2.5rem;
}
.blogs__news__info__container p
{
    margin: 0;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.blogs__posts__container
{
    padding: 0 50px 40px;
}

.blogs__posts__container h3
{
    font-size: 3rem;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}
.blogs__posts__container h4
{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.blogs__posts__container p
{
    font-size: 1.5rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
    text-align: center;
}
.blogs__posts__container .post__container
{
    height: 480px;
    border:1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blogs__posts__container .post__container img
{
    width: 100%;
}
.blogs__button
{
    border: 1px solid var(--white-yellow);
    padding: 10px 15px;
    font-size: 1.2rem;
    width:max-content;
    font-weight: bold;
    color:var(--white);
}
.grid__container__post
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,360px));
    grid-auto-rows: auto;
    grid-gap: 4rem;
    justify-content:center;
}
footer
{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: var(--blue-dark);
    border-top: 35px solid var(--white-yellow);
    align-items: center;
    justify-content:center;
}
footer p
{
    color:var(--white);
    font-size: 2rem;
    text-align: center;
}