body
{
    display: flex;
    flex-direction: column-reverse;
}
body p::selection,
body a::selection
{
    background-color: #4D77FF;
    color:#F2FA5A;
}
main
{
    margin-top: calc(-90px - 7rem);
    align-items: center;
}

main .main__container 
{
    margin-top: 4rem; 
}
main .main__container .main__title__container p 
{
    letter-spacing:.7rem ;
}
header
{
    z-index: 1;
}

header .header__icons__container 
{
    justify-items: center;
}
nav
{
    order: 1;
    z-index: 2;
    margin-top: 0;
}
nav .nav__logo__container
{
    margin-left: 10px;
}
nav .profile-link
{
    margin-right: 20px;
}
header .header__icons__container .icons {
   
    margin-right: 15px; 
}